@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  width: 100vw;
  height: 100vh;
  align-items: flex-start;
  --dark: #444;
  --light: #fff;
  --blue: #0458BF;
  --lightgray: #F2F4F7
  overflow: hidden;
}

body {
  color: var(--light);
  background: var(--lightgray);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}