.landingPage {
    background-color: var(--light);
    overflow: hidden;
    padding: 80px;
    padding-top: 58px;
    background: url("/../steve-johnson.jpg") no-repeat center center fixed; 
    background-size: 100vw 100vh;
    overflow: hidden;
}

.heroSection{
    color: black;
    display: flex;
    /* flex-direction: row; a la zaymo setup*/
    flex-direction: column;
    width: 100%;
    position: relative;
    margin-bottom: 58px;
}

.landingContent {
    height:fit-content;
    flex-direction: row;
    margin-bottom: 58px;
}

.heroImage {
    width: fit-content;
    border-radius: 34px;
}

@media (max-width: 768px) {
    .heroSection {
        padding-top: 30px;
        padding: 5%;
        justify-content: center;
    }
}

.signUpButton {
    background-color: var(--blue);
    color: #fff;
    padding: 10px 20px;
    border-radius: 34px;
    text-decoration: none;
    margin-top: 20px;
}

.title {
    font-size: 64px;
    font: Inter;
    line-height: 1.1;
}

.description {
    font-size: 30px;
    line-height: 1.1;
    margin-bottom: 20px;
}

.slash {
    transform-origin: top left;
    position: absolute;
    left: 0;
    /* right: -1.5%; */
    width: 100%;
    top: 671.548px;
    height: 1500px;
    flex-direction: column;
    background-color: #fff;
    transform: matrix(0.9848, -0.1736, 0, 1.5, 0, 0);
    /* Change the 1.5 to the length of the screen */
}

.background {
    z-index: -1;
    width: 100%;
}

.blur {
    filter: blur(10px); /* Adjust the blur intensity */
}

@media (prefers-color-scheme: dark) {
    .slash {
        color: var(--light);
        background-color: var(--dark);
    }
  }