.landingPage {
    background-color: var(--light);
    overflow: hidden;
    padding: 80px;
    padding-top: 58px;
    background: url("/../steve-johnson.jpg") no-repeat center center fixed; 
    /* background-size: 100vw 100vh; */
    background-size: cover;
    overflow: hidden;
}

.landingPage::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit; /* Inherit the background image */
    filter: blur(10px); /* Apply blur effect */
    pointer-events: none; /* Allow clicks to pass through to elements underneath */
}

.heroSection{
    color: black;
    display: flex;
    /* flex-direction: row; a la zaymo setup*/
    flex-direction: column;
    width: 100%;
    position: relative;
    margin-bottom: 58px;
    align-items: center;
}

.landingContent {
    height:fit-content;
    flex-direction: row;
    margin-bottom: 58px;
}

.heroImage {
    width: 90%;
    max-width: 1200px;
    border-radius: 34px;
}

.title {
    font-size: 64px;
    font: Inter;
    line-height: 1.1;
}

.signUpButton {
    background-color: var(--blue);
    color: #fff;
    padding: 10px 20px;
    border-radius: 34px;
    text-decoration: none;
    margin-top: 20px;
}

.miniSignUpButton {
    background-color: var(--blue);
    color: #fff;
    padding: 10px 20px;
    border-radius: 34px;
    text-decoration: none;
    margin-top: 20px;
    display: none;
}

.titleViewer {
    color: white;
    text-shadow: -1px -1px 10px #00000025, 1px -1px 10px #00000025, -1px 1px 10px #00000025, 1px 1px 10px #00000025;
}

.description {
    font-size: 30px;
    line-height: 1.1;
    margin-bottom: 20px;
    font-weight: bold;
}


.slash {
    position: absolute; /* Relative positioning to control pseudo-element */
    top: 25rem;
    right: 0;
    width: 100%;
    height: 1500px;
    background-color: #fff;
}

.slash::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100ch; /* Adjust to control the size of the diagonal section */
    background-color: #fff;
    transform: skewY(-7deg);
    transform-origin: top left;
}


.background {
    z-index: -1;
    width: 100%;
}

.blur {
    filter: blur(90px); /* Adjust the blur intensity */
}


@media (max-width: 1100px) {
    .landingPage {
        padding: 40px
    }

    .title {
        font-size: 50px;
    }

    .description {
        font-size: 20px;
    }

}

@media (max-width: 750px) {
    .landingPage {
        padding: 15px
    }

    .heroSection {
        padding-top: 30px;
        padding: 5%;
        justify-content: center;
    }

    .title {
        font-size: 30px;
    }

    .description {
        font-size: 15px;
    }

    .signUpButton {
        display: none;
    }

    .miniSignUpButton {
        display: unset;
    }
}

@media (prefers-color-scheme: dark) {
    .slash {
        color: var(--light);
        background-color: var(--dark);
        /* background-color: #1c1c1c; */
    }

    .title {
        color: var(--light);
    }

    .heroSection {
        color: var(--light);
    }
}